.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* 🔥 clave */
  height: 100vh; /* 🔥 clave */
  background: rgba(0, 0, 0, 0);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal-content {
  position: relative;
  padding: 20px;
  border-radius: 10px;

  max-width: 700px;
  width: 85%;
  max-height: 85vh;
  overflow-y: auto;

  background: var(--bg-panel);
  color: var(--text-main);
  box-shadow: var(--shadow-soft);
}

.modal-content img {
  width: 100%;
  border-radius: 6px;
  margin: 10px 0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  background: var(--color-danger);
  color: white;

  border: none;
  border-radius: 6px;

  padding: 5px 10px;
  cursor: pointer;

  transition: background 0.2s ease;
}

.close-btn:hover {
  background: #b71c1c;
}

.modal-content a {
  color: var(--color-secondary);
  text-decoration: underline;
  font-weight: 500;
}

.modal-content a:hover {
  opacity: 0.8;
}

.modal-content h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: var(--text-main);
}

@media (max-width: 768px) {
  .modal-content {
    width: 75%;
    max-height: 80vh;
    margin-top: 60px; /* si quieres bajarlo */
  }
}
