.main {
  margin-top: 120px; /* 🔥 espacio fijo arriba */

  display: grid;
  gap: 1.5rem;

  grid-template-columns: repeat(3, 1fr);

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* tablet */
@media (max-width: 768px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* móvil */
@media (max-width: 480px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.about,
.contact,
.footer {
  margin-top: 1rem;
}
